# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* Popular libraries for Data Science
* Tools used in Data Science

## Author
Prakash

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. Java
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. MatPlotLib
4. Scikit-Learn
5. PyTorch

|Data Science Tools|
|------------------|
|RStudio|
|Hadoop|
|Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335